**/.git
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/node_modules
**/.gitignore
**/.dockerignore
**/Dockerfile*
**/docker-compose*
**/*.md
**/*.user
**/*.suo
**/*.cache
**/publish
**/TestResult
**/logs
